@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;

}
body {
    background-color: #212121;
    background-size: cover;
    background-repeat: no-repeat;
  
    padding: 100px 0 0;
    

}

a {
    text-decoration: none;
 
}

a:hover {
    color: #3B82F6;
}

li{
    list-style: none;
}

#loadingIndicator {
    display: none;
}
