@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;

}
body {
    background-color: #0f0f0f;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    padding: 130px 0 0;
    

}

a {
    text-decoration: none;
 
}

a:hover {
    color: #3B82F6;
}
.navbar{
    height: 100px;
}

.collapse{
    justify-content: right;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    width: 100%;

}

.navbar-nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
}




