body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .review-carousel {
    display: flex;
    overflow: hidden;
  }
  
  .cards-container {
    display: flex;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  
  button {
    margin-bottom: 10px;
    cursor: pointer;
  }
  