
form{
  margin-top: 30px;
}

.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 0 20px;
  margin: 40px 0;
}

.form-group h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 60px;
  color: #fff;
}

.form-group h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}

.form-group p{
  font-size: 1.2rem;
  font-weight: 800;
  margin: 10px;
  color: #fff;
}




input[type='range'] {
  width: 75%; /* スライダーの幅を変更 */
  margin: 10px 0; /* スライダーの上下の余白を追加 */
}

