  /* スピナーアニメーションのキーフレームを定義 */
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* スピナーのスタイル */
  .spinner {
    border: 6px solid #f3f3f3; /* ボーダーカラー */
    border-top: 6px solid #3498db; /* ボーダートップカラー */
    border-radius: 50%; /* 円形のボーダー */
    width: 50px; /* スピナーの幅 */
    height: 50px; /* スピナーの高さ */
    animation: spinner 1s linear infinite; /* アニメーションを適用 */
    margin: 50px auto; /* 中央に配置 */
  }

  
#loading {
    display: none;
} 
/* ボタンが非活性の場合のスタイル */
#submitbutton:disabled {
    background-color: gray; /* 背景色をグレーに変更 */
    color: white; /* テキストの色を白に変更 */
  }