{% extends "base.html" %}
{% block extra_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}
{% block extra_head %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/javascript/bookSearch.js"></script>
{% endblock %}
{% block content%}
    <div>
        <h2>作品を検索する</h2>
        <select id="searchType" onChange="searchBooks()">
            <option value="title">タイトル</option>
            <option value="author">著者名</option>
        </select>
        <input type="text" id="searchInput" placeholder="検索キーワードを入力" class="text-black">
        <button type="button" onclick="search('{{ user_id }}')">検索</button>
        <select name="sortOption" onChange="searchBooks()">
            <option value="b_desc">ブックマーク数で降順</option>
            <option value="b_asc">ブックマーク数で昇順</option>
            <option value="r_desc">レビュー数で降順</option>
            <option value="r_asc">レビュー数で昇順</option>
            <option value="l_desc">いいね数で降順</option>
            <option value="l_asc">いいね数で昇順</option>
        </select>
        <p id="message"></p>
        <div id="loadingIndicator">検索中...</div>
        <ul id="searchResults"></ul>
    </div>
{% endblock %}

