{% extends "base.html" %} 
{% block extra_css %} 
<link href="../../static/css/review.css" rel="stylesheet">
{% endblock %} 
{% block content %}    
  <main>
    <h1 class="titleName" data-title="{{ title }}">{{title}}</h1>
    {% if url != "#" %}
    <p><a href={{url}}>wikipedia</a></p>
    {% endif %}

    <!-- ブックマークトグルボタン -->
    {% if bookmarked %}
    <button id="bookmarkToggle" class="btn btn-primary">ブックマーク解除</button>
    {% else %}
    <button id="bookmarkToggle" class="btn btn-primary">ブックマーク</button>
    {% endif %}

    <p id="bookmark_num">ブックマーク数：{{bookmark_num}}</p>

    <select id="sortOption" onChange="fetchAndDisplayReviews()">
      <option value="newest">日付（降順）</option>
      <option value="oldest">日付（昇順）</option>
      <option value="likes_count_desc">いいね数（降順）</option>
      <option value="likes_count_asc">いいね数（昇順）</option>
      <option value="evaluation_desc">評価（降順）</option>
      <option value="evaluation_asc">評価（昇順）</option>
    </select>

    <h2>レビュー</h2>
    <div id="reviewContainer">
    </div>

  </main>
  <script src="../../static/javascript/bookmark.js"></script>
  <script src="../../static/javascript/reviewHandler.js"></script>
{% endblock %}
