{% extends "base.html" %} {% block extra_css %} 
<link href="../../static/css/review.css" rel="stylesheet">
{% endblock %} {% block content %}
    
    

  <main>
    <h1 class="title1">{{title}}</h1>
    {% if url != "#" %}
    <p><a href={{url}}>wikipedia</a></p>
    {% endif %}
    <!-- ブックマークトグルボタン -->
    <button id="bookmarkToggle" class="btn btn-primary">ブックマーク</button>
    <p id="bookmark_num">ブックマーク数：{{bookmark_num}}</p>

    <h2>レビュー</h2>
    {% if reviews %}
    <div id="reviewContainer">
      {% for review in reviews %}
      <div class="review">
        <p>ユーザー名: {{ review.data.username }}</p>
        <p>評価: {{ review.data.evaluation }}</p>
        <p>{{ review.data.contents }}</p>
        <p id="likeCount-{{ review.id }}">いいね数: {{ review.like_count }}</p>
        <button id="likeButton-{{ review.id }}" onclick="toggleLike('{{ review.id }}')">いいね</button>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>レビューはありません</p>
    {% endif %}
  </main>
  <script src="../../static/javascript/bookmark.js"></script>
  <script src="../../static/javascript/reviewLike.js"></script>
{% endblock %}
