{% extends "base.html" %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_favorite.css') }}">
{% endblock %} 
{% block content%}

<h1 class="mb-8 font-black text-4xl text-white shadow-lg">お気に入り作品</h1>

<div id="error-message" class="mt-8"></div>

<div id="manga-content" class="relative mt-8">
  <div id="comic-container"></div>
  <!-- ローディングインジケータ -->
  <div id="loadingIndicator" class="absolute hidden top-0 left-0 right-0 bottom-0 flex justify-center items-center">
    <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-gray-200"></div>
  </div>
</div>

<!-- 追加ボタン -->
<button id="addButton" class="fixed bottom-16 right-8 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 active:bg-blue-800 transition duration-150 ease-in-out transform active:scale-95 flex justify-center items-center w-12 h-12 sm:w-16 sm:h-16 sm:text-2xl md:w-20 md:h-20 md:text-3xl lg:w-24 lg:h-24 lg:text-4xl">
  +
</button>

<!-- モーダル -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center" style="display: none;">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-7xl mx-auto">

    <div id="modalLoadingIndicator" class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-gray-900">検索中...</div>
    </div>

    <h2 class="text-xl font-bold mb-4 text-gray-900">お気に入りを追加</h2>
    <input type="text" id="favorite_title" name="favorite_title" placeholder="作品名" class="input bg-gray-100 p-2 rounded border border-gray-300 w-full text-gray-900">
    <div id="message" class="text-red-500"></div>
    <div class="flex justify-center space-x-4 mt-4">
      <button id="submitModal" onclick="search('{{ user_id }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        追加
      </button>
      <button id="closeModal" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
        閉じる
      </button>
    </div>
  </div>
</div>




{#
<main style="padding: 1rem 0;">
    <body>
        <h1>好きな作品を追加する</h1>
        <form id="add_favorite_form" action="/{{ user_id }}/favoriteAdd" method="POST">
            <label for="favorite_title">好きな作品のタイトル:</label>
            <input type="text" id="favorite_title" name="favorite_title">
 
            <!-- <input type="submit" value="更新" formaction="/{{ user_id }}/userpage"> -->

        </form>
        <button value="追加" onclick="search('{{ user_id }}')">追加</button>
        <div id="loadingIndicator2">検索中...</div>
        <h2>現在の好きな作品リスト:</h2>
        <div>
            {% for title in favorite_titles %}
            <div class="container">
                <div class="title">{{ title }}</div>
                <button value="削除" onclick="delete_manga('{{ user_id }}','{{title}}')">削除</button>
            </div>
        
            {% endfor %}
        </div>
    </body>
</main>
#}

<script src="../static/javascript/add_favorite.js"></script>

{% endblock %}