<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/{{user_id}}/genre" method="POST">
        <div id="genre_selelct" class="radio-box">
            <h2>一番好きなジャンルはなんですか</h2>
            <div class="radio-button-group">
              <div class="radio-button">
              <input type="radio" id="genre1" class="radio__input" name="genre" value="1" required>
              <label for="genre">バトル</label>
            </div>
            <div class="radio-button">
              <input type="radio" id="genre2" class="radio__input" name="genre" value="2">
              <label for="genre">スポーツ</label>
            </div>
            <div class="radio-button">
              <input type="radio" id="genre3" class="radio__input" name="genre" value="3">
              <label for="genre">恋愛</label>
            </div>
            <div class="radio-button">
              <input type="radio" id="genre4" class="radio__input" name="genre" value="4">
              <label for="genre">ミステリー</label>
            </div>
            <div class="radio-button">
              <input type="radio" id="genre5" class="radio__input" name="genre" value="5">
              <label for="genre">コメディ</label>
            </div>
            <div class="radio-button">
                <input type="radio" id="genre6" class="radio__input" name="genre" value="6">
                <label for="genre">SF</label>
            </div>
            <div class="radio-button">
                <input type="radio" id="genre7" class="radio__input" name="genre" value="7">
                <label for="genre">歴史</label>
            </div>
        </div>
    

        </div>
            <button type="submit" class="btn">送信</button>
        </div>   
    </form>
</body>
</html>