<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <a href="/{{user_id}}/review">review</a>
    

    <h1><a href="/{{user_id}}/userpage">User Page</a></h1>
    
    {% for doc in user_query %}
    <a href="/{{user_id}}/{{doc.id}}/userpage"><p>{{doc.to_dict()["username"]}}</p></a>
    {% endfor %}
    {% for doc in review_query %}
    <p>{{doc.to_dict()["mangaTitle"]}}</p>
    {% endfor %}
</body>
</html>
