
{% extends "base.html" %} {% block extra_css %} {% endblock %} {% block content%}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS CDN読み込み -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap JavaScript CDN読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper.min.css"
    />
</head>
<body>
    <!-- ヘッダー -->
    <header class="nav-color">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="home.html">Best Work</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="home.html">ホーム</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{user_id}}/userpage">マイページ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{user_id}}/review">レビュー投稿</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">個性の更新</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    {% for doc in user_query %}
    <a href="/{{user_id}}/{{doc.id}}/userpage"><p>{{doc.to_dict()["username"]}}</p></a>
    {% endfor %}
    {% for doc in review_query %}
    <p>{{doc.to_dict()["mangaTitle"]}}</p>
    {% endfor %}
    
    {% for title in title_data %}
    <p>{{title}}</p>
    {% endfor %}

    <section class="manga container">
      <h2>あなたにおすすめの漫画</h2>
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
              {% for title, url in data %}
              <div class="swiper-slide">
                  <a href="/{{ user_id }}/{{ title }}/detail">
                      <img class="image-placeholder" src="{{ url }}" alt="">
                  </a>
              </div>
              {% endfor %}
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
    </section>

    

    <section id="user-container">
      <ul>
        <li>
          <img src="https://migi.me/uploads/2020/09/user-icon-001.jpg">
          <div>
            <h3>ユーザー名1</h3>
            <p><span class="tag">タグ1</span><span class="tag">タグ2</span></p>
          </div>
        </li>
        <li>
          <img src="https://kotonohaworks.com/free-icons/wp-content/uploads/kkrn_icon_user_1.png">
          <div>
            <h3>ユーザー名2</h3>
            <p><span class="tag">タグ1</span><span class="tag">タグ3</span></p>
          </div>
        </li>
      </ul>
    </section>
{% endblock %}

