<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>question</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/question.css') }}">
</head>
<body>
  <h1>アンケートフォーム</h1>
<form action="/{{user_id}}/question" method="POST">
  <ul id="question-01">
    <h2>漫画を選ぶ際、周りの評判を気にしますか？</h2>
    <li>
      <input type="radio" name="question-01" id="question-01_a" class="radio__input" value="1" required>
      <label for="question-01_a">まったく気にしない</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_b" class="radio__input" value="2">
      <label for="question-01_b">少し気にする</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_c" class="radio__input" value="3">
      <label for="question-01_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_c" class="radio__input" value="4">
      <label for="question-01_c">気にする</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_d" class="radio__input" value="5">
      <label for="question-01_d">めっちゃ気にする</label>
    </li>
  </ul>

  <ul id="question-02">
    <h2>巻数が多い漫画は尻込みしますか？</h2>
    <li>
      <input type="radio" name="question-02" id="question-02_a" class="radio__input" value="1" required>
      <label for="question-02_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_b" class="radio__input" value="2">
      <label for="question-02_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_c" class="radio__input" value="3">
      <label for="question-02_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_d" class="radio__input" value="4">
      <label for="question-02_d">する</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_e" class="radio__input" value="5">
      <label for="question-02_e">めっちゃする</label>
    </li>
  </ul>

  <ul id="question-03">
    <h2>完結している作品を好みますか？</h2>
    <li>
      <input type="radio" name="question-03" id="question-03_a" class="radio__input" value="1" required>
      <label for="question-03_a">まったく好まない</label>
    </li>
    <li>
      <input type="radio" name="question-03" id="question-03_b" class="radio__input" value="2">
      <label for="question-03_b">少し好む</label>
    </li>
    <li>
      <input type="radio" name="question-03" id="question-03_c" class="radio__input" value="3">
      <label for="question-03_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-03" id="question-03_d" class="radio__input" value="4">
      <label for="question-03_d">好む</label>
    </li>
    <li>
      <input type="radio" name="question-03" id="question-03_e" class="radio__input" value="5">
      <label for="question-03_e">めっちゃ好む</label>
    </li>
  </ul>

  <ul id="question-04">
    <h2>文化系の部活の漫画が好きですか？</h2>
    <li>
      <input type="radio" name="question-04" id="question-04_a" class="radio__input" value="1" required>
      <label for="question-04_a">まったく好まない</label>
    </li>
    <li>
      <input type="radio" name="question-04" id="question-04_b" class="radio__input" value="2">
      <label for="question-04_b">少し好む</label>
    </li>
    <li>
      <input type="radio" name="question-04" id="question-04_c" class="radio__input" value="3">
      <label for="question-04_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-04" id="question-04_d" class="radio__input" value="4">
      <label for="question-04_d">好む</label>
    </li>
    <li>
      <input type="radio" name="question-04" id="question-04_e" class="radio__input" value="5">
      <label for="question-04_e">めっちゃ好む</label>
    </li>
  </ul>

  <ul id="question-05">
    <h2>運動系の漫画が好きですか？</h2>
    <li>
      <input type="radio" name="question-05" id="question-05_a" class="radio__input" value="1" required>
      <label for="question-05_a">まったく好まない</label>
    </li>
    <li>
      <input type="radio" name="question-05" id="question-05_b" class="radio__input" value="2">
      <label for="question-05_b">少し好む</label>
    </li>
    <li>
      <input type="radio" name="question-05" id="question-05_c" class="radio__input" value="3">
      <label for="question-05_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-05" id="question-05_d" class="radio__input" value="4">
      <label for="question-05_d">好む</label>
    </li>
    <li>
      <input type="radio" name="question-05" id="question-05_e" class="radio__input" value="5">
      <label for="question-05_e">めっちゃ好む</label>
    </li>
  </ul>

  <ul id="question-06">
    <h2>特殊能力を持つキャラクターが出てくるのが好きですか？</h2>
    <li>
      <input type="radio" name="question-06" id="question-06_a" class="radio__input" value="1" required>
      <label for="question-06_a">まったく好まない</label>
    </li>
    <li>
      <input type="radio" name="question-06" id="question-06_b" class="radio__input" value="2">
      <label for="question-06_b">少し好む</label>
    </li>
    <li>
      <input type="radio" name="question-06" id="question-06_c" class="radio__input" value="3">
      <label for="question-06_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-06" id="question-06_d" class="radio__input" value="4">
      <label for="question-06_d">好む</label>
    </li>
    <li>
      <input type="radio" name="question-06" id="question-06_e" class="radio__input" value="5">
      <label for="question-06_e">めっちゃ好む</label>
    </li>
  </ul>

  <ul id="question-07">
    <h2>演出がうまい作品を読みたいと思いますか？</h2>
    <li>
      <input type="radio" name="question-07" id="question-07_a" class="radio__input" value="1" required>
      <label for="question-07_a">まったく読みたくない</label>
    </li>
    <li>
      <input type="radio" name="question-07" id="question-07_b" class="radio__input" value="2">
      <label for="question-07_b">少し読みたい</label>
    </li>
    <li>
      <input type="radio" name="question-07" id="question-07_c" class="radio__input" value="3">
      <label for="question-07_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-07" id="question-07_d" class="radio__input" value="4">
      <label for="question-07_d">読みたい</label>
    </li>
    <li>
      <input type="radio" name="question-07" id="question-07_e" class="radio__input" value="5">
      <label for="question-07_e">めっちゃ読みたい</label>
    </li>
  </ul>

  <ul id="question-08">
    <h2>作品を読んで感動したいと思いますか？</h2>
    <li>
      <input type="radio" name="question-08" id="question-08_a" class="radio__input" value="1" required>
      <label for="question-08_a">まったく思わない</label>
    </li>
    <li>
      <input type="radio" name="question-08" id="question-08_b" class="radio__input" value="2">
      <label for="question-08_b">少し思う</label>
    </li>
    <li>
      <input type="radio" name="question-08" id="question-08_c" class="radio__input" value="3">
      <label for="question-08_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-08" id="question-08_d" class="radio__input" value="4">
      <label for="question-08_d">思う</label>
    </li>
    <li>
      <input type="radio" name="question-08" id="question-08_e" class="radio__input" value="5">
      <label for="question-08_e">めっちゃ思う</label>
    </li>
  </ul>

  <ul id="question-09">
    <h2>恋愛模様が描かれた作品が好きですか？</h2>
    <li>
      <input type="radio" name="question-09" id="question-09_a" class="radio__input" value="1" required>
      <label for="question-09_a">まったく好きではない</label>
    </li>
    <li>
      <input type="radio" name="question-09" id="question-09_b" class="radio__input" value="2">
      <label for="question-09_b">少し好き</label>
    </li>
    <li>
      <input type="radio" name="question-09" id="question-09_c" class="radio__input" value="3">
      <label for="question-09_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-09" id="question-09_d" class="radio__input" value="4">
      <label for="question-09_d">好き</label>
    </li>
    <li>
      <input type="radio" name="question-09" id="question-09_e" class="radio__input" value="5">
      <label for="question-09_e">めっちゃ好き</label>
    </li>
  </ul>

  <ul id="question-10">
    <h2></h2>
    <li>
      <input type="radio" name="question-10" id="question-10_a" class="radio__input" value="1" required>
      <label for="question-10_a">まったく興味ない</label>
    </li>
    <li>
      <input type="radio" name="question-10" id="question-10_b" class="radio__input" value="2">
      <label for="question-10_b">少し興味ある</label>
    </li>
    <li>
      <input type="radio" name="question-10" id="question-10_c" class="radio__input" value="3">
      <label for="question-10_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-10" id="question-10_d" class="radio__input" value="4">
      <label for="question-10_d">興味ある</label>
    </li>
    <li>
      <input type="radio" name="question-10" id="question-10_e" class="radio__input" value="5">
      <label for="question-10_e">めっちゃ興味ある</label>
    </li>
  </ul>

  <ul id="question-11">
    <h2>主人公の性格を重要視しますか？</h2>
    <li>
      <input type="radio" name="question-11" id="question-11_a" class="radio__input" value="1" required>
      <label for="question-11_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-11" id="question-11_b" class="radio__input" value="2">
      <label for="question-11_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-11" id="question-11_c" class="radio__input" value="3">
      <label for="question-11_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-11" id="question-11_d" class="radio__input" value="4">
      <label for="question-11_d">する</label>
    </li>
    <li>
      <input type="radio" name="question-11" id="question-11_e" class="radio__input" value="5">
      <label for="question-11_e">めっちゃする</label>
    </li>
  </ul>

  <ul id="question-12">
    <h2>絵の上手さは重要視しますか？</h2>
    <li>
      <input type="radio" name="question-12" id="question-12_a" class="radio__input" value="1" required>
      <label for="question-12_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-12" id="question-12_b" class="radio__input" value="2">
      <label for="question-12_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-12" id="question-12_c" class="radio__input" value="3">
      <label for="question-12_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-12" id="question-12_d" class="radio__input" value="4">
      <label for="question-12_d">する</label>
    </li>
    <li>
      <input type="radio" name="question-12" id="question-12_e" class="radio__input" value="5">
      <label for="question-12_e">めっちゃする</label>
    </li>
  </ul>

  <ul id="question-13">
    <h2>主人公の年齢は気にしますか？</h2>
    <li>
      <input type="radio" name="question-13" id="question-13_a" class="radio__input" value="1" required>
      <label for="question-13_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-13" id="question-13_b" class="radio__input" value="2">
      <label for="question-13_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-13" id="question-13_c" class="radio__input" value="3">
      <label for="question-13_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-13" id="question-13_d" class="radio__input" value="4">
      <label for="question-13_d">する</label>
    </li>
    <li>
      <input type="radio" name="question-13" id="question-13_e" class="radio__input" value="5">
      <label for="question-13_e">めっちゃする</label>
    </li>
  </ul>

  <ul id="question-14">
    <h2>主人公が成長していく様を見たいですか？</h2>
    <li>
      <input type="radio" name="question-14" id="question-14_a" class="radio__input" value="1" required>
      <label for="question-14_a">まったく見たくない</label>
    </li>
    <li>
      <input type="radio" name="question-14" id="question-14_b" class="radio__input" value="2">
      <label for="question-14_b">少し見たい</label>
    </li>
    <li>
      <input type="radio" name="question-14" id="question-14_c" class="radio__input" value="3">
      <label for="question-14_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-14" id="question-14_d" class="radio__input" value="4">
      <label for="question-14_d">見たい</label>
    </li>
    <li>
      <input type="radio" name="question-14" id="question-14_e" class="radio__input" value="5">
      <label for="question-14_e">めっちゃ見たい</label>
    </li>
  </ul>

  <ul id="question-15">
    <h2>最強主人公の爽快さが好きですか？</h2>
    <li>
      <input type="radio" name="question-15" id="question-15_a" class="radio__input" value="1" required>
      <label for="question-15_a">まったく好きではない</label>
    </li>
    <li>
      <input type="radio" name="question-15" id="question-15_b" class="radio__input" value="2">
      <label for="question-15_b">少し好き</label>
    </li>
    <li>
      <input type="radio" name="question-15" id="question-15_c" class="radio__input" value="3">
      <label for="question-15_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-15" id="question-15_d" class="radio__input" value="4">
      <label for="question-15_d">好き</label>
    </li>
    <li>
      <input type="radio" name="question-15" id="question-15_e" class="radio__input" value="5">
      <label for="question-15_e">めっちゃ好き</label>
    </li>
  </ul>

  <ul id="question-16">
    <h2>人が死ぬ描写は苦手ですか？</h2>
    <li>
      <input type="radio" name="question-16" id="question-16_a" class="radio__input" value="1" required>
      <label for="question-16_a">まったく苦手ではない</label>
    </li>
    <li>
      <input type="radio" name="question-16" id="question-16_b" class="radio__input" value="2">
      <label for="question-16_b">少し苦手</label>
    </li>
    <li>
      <input type="radio" name="question-16" id="question-16_c" class="radio__input" value="3">
      <label for="question-16_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-16" id="question-16_d" class="radio__input" value="4">
      <label for="question-16_d">苦手</label>
    </li>
    <li>
      <input type="radio" name="question-16" id="question-16_e" class="radio__input" value="5">
      <label for="question-16_e">めっちゃ苦手</label>
    </li>
  </ul>

  <ul id="question-17">
    <h2>掲載している雑誌を気にしますか？</h2>
    <li>
      <input type="radio" name="question-17" id="question-17_a" class="radio__input" value="1" required>
      <label for="question-17_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-17" id="question-17_b" class="radio__input" value="2">
      <label for="question-17_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-17" id="question-17_c" class="radio__input" value="3">
      <label for="question-17_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-17" id="question-17_d" class="radio__input" value="4">
      <label for="question-17_d">する</label>
    </li>
    <li>
      <input type="radio" name="question-17" id="question-17_e" class="radio__input" value="5">
      <label for="question-17_e">めっちゃする</label>
    </li>
  </ul>

  <ul id="question-18">
    <h2>説明が多い漫画は苦手ですか？</h2>
    <li>
      <input type="radio" name="question-18" id="question-18_a" class="radio__input" value="1" required>
      <label for="question-18_a">まったく苦手ではない</label>
    </li>
    <li>
      <input type="radio" name="question-18" id="question-18_b" class="radio__input" value="2">
      <label for="question-18_b">少し苦手</label>
    </li>
    <li>
      <input type="radio" name="question-18" id="question-18_c" class="radio__input" value="3">
      <label for="question-18_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-18" id="question-18_d" class="radio__input" value="4">
      <label for="question-18_d">苦手</label>
    </li>
    <li>
      <input type="radio" name="question-18" id="question-18_e" class="radio__input" value="5">
      <label for="question-18_e">めっちゃ苦手</label>
    </li>
  </ul>

  <ul id="question-19">
    <h2>日常シーンが多い漫画は好きですか？</h2>
    <li>
      <input type="radio" name="question-19" id="question-19_a" class="radio__input" value="1" required>
      <label for="question-19_a">まったく好きではない</label>
    </li>
    <li>
      <input type="radio" name="question-19" id="question-19_b" class="radio__input" value="2">
      <label for="question-19_b">少し好き</label>
    </li>
    <li>
      <input type="radio" name="question-19" id="question-19_c" class="radio__input" value="3">
      <label for="question-19_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-19" id="question-19_d" class="radio__input" value="4">
      <label for="question-19_d">好き</label>
    </li>
    <li>
      <input type="radio" name="question-19" id="question-19_e" class="radio__input" value="5">
      <label for="question-19_e">めっちゃ好き</label>
    </li>
  </ul>

  <ul id="question-20">
    <h2>アニメ化・映画化されている漫画は好きですか？</h2>
    <li>
      <input type="radio" name="question-20" id="question-20_a" class="radio__input" value="1" required>
      <label for="question-20_a">まったく好きではない</label>
    </li>
    <li>
      <input type="radio" name="question-20" id="question-20_b" class="radio__input" value="2">
      <label for="question-20_b">少し好き</label>
    </li>
    <li>
      <input type="radio" name="question-20" id="question-20_c" class="radio__input" value="3">
      <label for="question-20_c">どちらともいえない</label>
    </li>
    <li>
      <input type="radio" name="question-20" id="question-20_d" class="radio__input" value="4">
      <label for="question-20_d">好き</label>
    </li>
    <li>
      <input type="radio" name="question-20" id="question-20_e" class="radio__input" value="5">
      <label for="question-20_e">めっちゃ好き</label>
    </li>
  </ul>

  <button type="submit">送信</button>

</form>
</body>
</html>