<!-- [バトル]を選んだ人への質問リストです -->
{% extends "base.html" %} {% block extra_css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/question.css') }}">
{% endblock %} {% block content%}
<form action="/{{genre}}/question" method="POST" class="mt-12">
  <div class="form-group">
    <h1>あなたの好みを教えてください</h1>
    <h2>漫画を選ぶ際、周りの評判を気にしますか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-01" id="slider1" class="slider">
    <p id="sliderValue1">0</p>
    
    <h2>巻数が多い漫画は尻込みしますか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-02" id="slider2" class="slider">
    <p id="sliderValue2">0</p>
    
    <h2>登場人物が多い作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-03" id="slider3" class="slider">
    <p id="sliderValue3">0</p>
    
    <h2>絵の上手さは重要視しますか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-04" id="slider4" class="slider">
    <p id="sliderValue4">0</p>
    
    <h2>アニメ化・映画化されている作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-05" id="slider5" class="slider">
    <p id="sliderValue5">0</p>
    
    <h2>主人公の性格は重要視しますか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-06" id="slider6" class="slider">
    <p id="sliderValue6">0</p>

    <h2>説明が多い作品は苦手ですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-07" id="slider7" class="slider">
    <p id="sliderValue7">0</p>

    <h2>ジャンルが多岐にわたる作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-08" id="slider8" class="slider">
    <p id="sliderValue8">0</p>

    <h2>作者の過去の作品は気にしますか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-09" id="slider9" class="slider">
    <p id="sliderValue9">0</p>

    <h2>感情移入できる作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-10" id="slider10" class="slider">
    <p id="sliderValue10">0</p>

    <h2>特殊能力を持つキャラクターは好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-11" id="slider11" class="slider">
    <p id="sliderValue11">0</p>

    <h2>最強主人公の爽快感が好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-12" id="slider12" class="slider">
    <p id="sliderValue12">0</p>

    <h2>人が死ぬ描写は苦手ですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-13" id="slider13" class="slider">
    <p id="sliderValue13">0</p>

    <h2>主人公が成長していく作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-14" id="slider14" class="slider">
    <p id="sliderValue14">0</p>

    <h2>異世界が舞台の作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-15" id="slider15" class="slider">
    <p id="sliderValue15">0</p>

    <h2>味方陣営が成長していく作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-16" id="slider16" class="slider">
    <p id="sliderValue16">0</p>

    <h2>敵陣営が成長していく作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-17" id="slider17" class="slider">
    <p id="sliderValue17">0</p>

    <h2>頭脳戦は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-18" id="slider18" class="slider">
    <p id="sliderValue18">0</p>

    <h2>独自の武器を使って戦う作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-19" id="slider19" class="slider">
    <p id="sliderValue19">0</p>

    <h2>アクションが激しい作品は好きですか？</h2>
    <input type="range" min="-5" max="5" step="1" name="question-20" id="slider20" class="slider">
    <p id="sliderValue20">0</p>
    
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 my-4 w-3/12">マッチング開始</button>
</div>
</form>
<script>
  // スライダー要素と表示する要素を取得
  var sliders = document.querySelectorAll("input[type='range']");
  var sliderValueElements = document.querySelectorAll("p[id^='sliderValue']");

  // 各スライダーにイベントリスナーを追加
  sliders.forEach(function(slider, index) {
      slider.addEventListener("input", function() {
          // 対応する表示用の要素に反映
          sliderValueElements[index].textContent = slider.value;
      });
  });
</script>

{% endblock %}