<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>question</title>
  <link rel="stylesheet" href="../css/question.css">
</head>
<body>
  <h1>アンケートフォーム</h1>
  <ul id="question-01">
    <h2>漫画を選ぶ際、周りの評判を気にしますか？</h2>
    <li>
      <input type="radio" name="question-01" id="question-01_a" class="radio__input">
      <label for="question-01_a">まったく気にしない</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_b" class="radio__input">
      <label for="question-01_b">少し気にする</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_c" class="radio__input">
      <label for="question-01_c">気にする</label>
    </li>
    <li>
      <input type="radio" name="question-01" id="question-01_d" class="radio__input">
      <label for="question-01_d">めっちゃ気にする</label>
    </li>
  </ul>
  
  <ul id="question-02">
    <h2>巻数が多い漫画は尻込みしますか？</h2>
    <li>
      <input type="radio" name="question-02" id="question-02_a" class="radio__input">
      <label for="question-02_a">まったくしない</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_b" class="radio__input">
      <label for="question-02_b">少しする</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_c" class="radio__input">
      <label for="question-02_c">する</label>
    </li>
    <li>
      <input type="radio" name="question-02" id="question-02_d" class="radio__input">
      <label for="question-02_d">めっちゃする</label>
    </li>
  </ul>
</body>
</html>