<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=width=device-width>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reviewerpage.css') }}">
</head>
<body>
    <div class="container">
        <h1>ユーザーページ</h1>
        <div class="user-container">
            <h2>ユーザーネーム: {{ username }}</h2>
            <div class="follow-user">
                {% if is_following %}
                <button id="followButton" onclick="toggleFollow()">フォロー解除</button>
                {% else %}
            </div>
            <div class="un-follow-user">
                <button id="followButton" onclick="toggleFollow()">フォロー</button>  
                {% endif %}
            </div>
        </div>
        <h2>好きな作品</h2>
        <div class="favorite-titles">
            {% for doc in query %}
            <p>{{doc.to_dict()["mangaTitle"]}}</p>
            {% endfor %}
            {% for title in favorite_titles %}
                <li>{{ title }}</li>
            {% endfor %}
        </div>

        <div class="home-link">
            <button id="homeButton" onclick="location.href='/{{user_id}}/home'">home</button>
        </div>
    </div>
    <script>
        function toggleFollow() {
            const followStatus = document.getElementById('followStatus');
            const followButton = document.getElementById('followButton');
            let is_following=false;
        
            if(followButton.textContent == 'フォロー'){
                is_following=false;
            }else{
                is_following=true;
            }
        
            // サーバーにPOSTリクエストを送信
            fetch('/{{user_id}}/{{reviewer_id}}/userpage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ is_following }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('成功:', data);
        
                // フォロー状態に応じて表示を変更
                if (data.isFollowing) {
                    followStatus.textContent = 'フォロー済み';
                    followButton.textContent = 'アンフォロー';
                } else {
                    followStatus.textContent = '未フォロー';
                    followButton.textContent = 'フォロー';
                }
            })
            .catch((error) => {
                console.error('エラー:', error);
                // エラー処理が必要な場合はここに記述
            });
        }
        </script> 

</body>
</html>