{% extends "base.html" %} {% block extra_css %} 

{% endblock %} {% block content%}


<section id="review" class="mb-12 mx-auto px-12 py-12 bg-gray-800 w-3/4">
    <h2 class="text-3xl">レビュー一覧</h2>
    <form method="get">
      <select name="sort_option" onchange="this.form.submit()">
          <option value="evaluation_desc" {{ 'selected' if sort_option == 'evaluation_desc' else '' }}>評価の高い順</option>
          <option value="evaluation_asc" {{ 'selected' if sort_option == 'evaluation_asc' else '' }}>評価の低い順</option>
          <option value="newest" {{ 'selected' if sort_option == 'newest' else '' }}>新しい順</option>
          <option value="oldest" {{ 'selected' if sort_option == 'oldest' else '' }}>古い順</option>
      </select>
  </form>
    <ul>
      {% for review in reviews %}
      <li class="my-4 p-4 bg-gray-700">
        <a href="/{{ review.get("mangaTitle") }}/detail" class="hover:text-blue-500">
          タイトル：{{ review.get("mangaTitle") }}
        </a>
        <p><a href="/{{review.to_dict()['user_id']}}/userpage">{{user_doc_ref.document(review.to_dict()["user_id"]).get().to_dict()["username"]}}</a></p>
        <p>評価：{{ review.get("evaluation") }}</p>
        <p>{{ review.get("contents") }}</p>
      </li>
      {% endfor %}
  </ul>
</section>



    

{% endblock %}