{% extends "base.html" %} {% block extra_css %} 

{% endblock %} 
{% block content%}

<div class="flex justify-between items-center mb-8">
    <h1 class="font-black text-4xl text-white shadow-lg">漫画レビュー</h1>
    <select id="sort_option" class="text-lg h-10 p-2 text-black mb-4 bg-white border border-gray-300 rounded">
        <option value="evaluation_desc" selected>評価の高い順</option>
        <option value="evaluation_asc">評価の低い順</option>
        <option value="newest">新しい順</option>
        <option value="oldest">古い順</option>
        <option value="likes_count_desc">いいねが多い順</option>
        <option value="likes_count_asc">いいねが少ない順</option>
    </select>
</div>

<div id="error-message" class="mt-8 mx-auto text-center w-1/2"></div>

<div id="review-content" class="relative mt-8">
  <div id="review-container"></div>
  <!-- ローディングインジケータ -->
  <div id="loadingIndicator" class="absolute top-0 left-0 right-0 bottom-0 hidden flex justify-center items-center">
    <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-gray-200"></div>
  </div>
</div>

{% if logged_in %}
<!-- 追加ボタン -->
<button id="addButton" onclick="location.href='/reviewAdd';" class="fixed bottom-16 right-8 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 active:bg-blue-800 transition duration-150 ease-in-out transform active:scale-95 flex justify-center items-center w-12 h-12 sm:w-16 sm:h-16 sm:text-2xl md:w-20 md:h-20 md:text-3xl lg:w-24 lg:h-24 lg:text-4xl">
  +
</button>
{% endif %}


<script src="../static/javascript/reviewList.js"></script>

{% endblock %}