{% extends "base.html" %} {% block extra_css %} 


{% endblock %} {% block content%}

<div>
    
    <h1><a href="/{{review['mangaTitle']}}/detail" class="hover:text-blue-500">{{review["mangaTitle"]}}</a></h1>
    <p><a href="/{{review['user_id']}}/userpage">{{review["username"]}}</a></p>
  
    {% for _ in range(review.get("evaluation")) %}
        <span class="text-yellow-400">★</span>
    {% endfor %}
    <p style="word-wrap: break-word;">{{review["contents"]}}</p>
    <p id="likeCount-{{review['review_id']}}">いいね数: {{review["likes_count"]}}</p>
    {% if review['liked'] %}
    <button id="likeButton-{{review['review_id']}}" onclick="toggleLike('{{review['review_id']}}')">
        <i class="material-icons" style="color: rgb(255, 73, 234);">favorite</i> いいねを取り消す
    </button>
    {% else %}
    <button id="likeButton-{{review['review_id']}}" onclick="toggleLike('{{review['review_id']}}')">
        <i class="material-icons">favorite_border</i> いいね
    </button>
    {% endif %}


</div>

  <script src="../../static/javascript/reviewLike.js"></script>
  
{% endblock %}