{% extends "base.html" %} {% block extra_css %} 
<link href="../static/css/review.css" rel="stylesheet">
{% endblock %} {% block content%}

  <main style="padding: 5rem 0;">
    <!-- 本文スタート -->
  <!-- レビュー記録フォーム -->
    <form action="/{{user_id}}/review" method="POST">
        <div class="container shadow-sm p-4 rounded" style="background-color: white;">
            <div class="mb-3" style="font-size: 1.4em;">レビューフォーム</div>
            <div class="row mb-3">
              <label for="work" class="col-sm-2 col-form-label" style="font-size: 1.05em;">作品名</label>
              <div class="col-sm-5">
                <input type="text" name="work_name" id="work" class="form-control" placeholder="作品名" list="list" oninput="inputFunction()" required>
                <datalist id="list">
                  <option value="ミッションインポッシブル">
                    Mission Impossible
                  </option>
                  <option value="オズの魔法使い">
                    wizard of oz
                  </option>
                  <option value="呪術𢌞戦">
                    Jujutsu 𢌞 battle
                  </option>
                </datalist>
              </div>
          </div>
            <div class="row mb-3 mt-3">
                <label for="" class="col-sm-2 col-form-label" style="font-size:1.05em">評価</label>
                <div class="col-sm-5">
                    <i class="fa-solid fa-star" style="color:gray" id="starbutton_1" onclick="star_update(1)"></i>
                    <i class="fa-solid fa-star" style="color:gray" id="starbutton_2" onclick="star_update(2)"></i>
                    <i class="fa-solid fa-star" style="color:gray" id="starbutton_3" onclick="star_update(3)"></i>
                    <i class="fa-solid fa-star" style="color:gray" id="starbutton_4" onclick="star_update(4)"></i>
                    <i class="fa-solid fa-star" style="color:gray" id="starbutton_5" onclick="star_update(5)"></i>
                </div>
            </div>
                <!-- 隠しフィールド -->
            <input type="hidden" name="rating" id="rating_input" value="0">
            <div class="row mb-3">
                <label for="comment" class="col-sm-2 col-form-label" style="font-size: 1.05em;">コメント</label>
                <div class="col-sm-9"><textarea name="comment_text" id="comment" rows="5" cols="30" class="form-control"></textarea></div>
            </div>
            <input type="submit" value="投稿" class="btn btn-info btn-lg text-white mt-2" style="width:100%" onclick="test()" id="submitbutton">
        </div>
    </form>

<!-- レビュー一覧 -->

    <!-- <div class="container review">
        <div>
            hogehoge
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
        </div>
        <div>面白かったけど、○○の部分がよく分からない</div>
    </div> 
    <div class="container review">
        <div>
            nyonyonyo
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
            <i class="fa-solid fa-star" style="color:gray"></i>
        </div>
        <div>よく分からない</div>
    </div>

    <div class="container review">
        <div>
            sakura
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
            <i class="fa-solid fa-star" style="color:#ffcd00"></i>
        </div>
        <div>とてもタメになりました！！最高です！！サイコゥ！サイコゥ！サイコゥ！サイコゥ！サイコゥ！サイコゥ！サイコゥ！サイコゥ！サイコゥ！</div>
    </div> -->
    <!-- 本文エンド -->
  </main>




    <!-- スクリプト読み込み -->
    <!-- ★の表示 -->
    <script src="https://kit.fontawesome.com/12a4c3ee6d.js" crossorigin="anonymous"></script>
    <!-- ★の切り替え -->
    <script src="../static/javascript/review.js"></script>
    

{% endblock %}