<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <h1>ユーザーページ</h1>
    <h2>ユーザーネーム: {{ username }}</h2>
    {% for doc in query %}
    <p>{{doc.to_dict()["mangaTitle"]}}</p>
    {% endfor %}
    <h2>好きな作品</h2>
    {% if favorite_titles !="no" %}
    {% for title in favorite_titles %}
        <li>{{ title }}</li>
    {% endfor %}
    {%endif%}
    
    {% if is_following %}
    <div id="followStatus">フォロー済み</div>
    <button id="followButton" onclick="toggleFollow()">フォロー解除</button>
    {% else %}
    <div id="followStatus">未フォロー</div>
    <button id="followButton" onclick="toggleFollow()">フォロー</button>  
    {% endif %}
    <a href="/{{user_id}}/home">home</a>

    <script>
        function toggleFollow() {
            const followStatus = document.getElementById('followStatus');
            const followButton = document.getElementById('followButton');
            let is_following=false;
        
            if(followButton.textContent == 'フォロー'){
                is_following=false;
            }else{
                is_following=true;
            }
        
            // サーバーにPOSTリクエストを送信
            fetch('/{{user_id}}/{{reviewer_id}}/userpage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ is_following }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('成功:', data);
        
                // フォロー状態に応じて表示を変更
                if (data.isFollowing) {
                    followStatus.textContent = 'フォロー済み';
                    followButton.textContent = 'アンフォロー';
                } else {
                    followStatus.textContent = '未フォロー';
                    followButton.textContent = 'フォロー';
                }
            })
            .catch((error) => {
                console.error('エラー:', error);
                // エラー処理が必要な場合はここに記述
            });
        }
        </script> 

</body>
</html>