{% extends "base.html" %} {% block extra_css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reviewerpage.css') }}">
{% endblock %} {% block content%}
    <div class="container2">
        <h1>ユーザーページ</h1>
        <div class="user-container">
            <h2>ユーザーネーム: {{ username }}</h2>
            <div class="follow-user">
                <button id="followButton" onclick="toggleFollow()"></button>

            </div>

        </div>
        <h2>好きな作品</h2>
        <div class="favorite-titles">
            <!-- {% for doc in query %}
            <p>{{doc.to_dict()["mangaTitle"]}}</p>
            {% endfor %} -->
            {% for title in favorite_titles %}
                <li>{{ title }}</li>
            {% endfor %}
        </div>

        <div class="myreview">
            <h2>レビュー</h2>
            {% for review in query %}
            <div class="review">
                <h4>{{ review.to_dict()["mangaTitle"] }}</h4>
                <p>{{ review.to_dict()["evaluation"] }}</p>
                <p>{{ review.to_dict()["contents"] }}</p>
            </div>
            {% endfor %}
        </div>
    <script>
        const followButton = document.getElementById('followButton');
        
        var is_following = {{ is_following | tojson | safe }};
        if(is_following){
            followButton.textContent = 'フォロー解除';
        }else{
            followButton.textContent = 'フォロー';
        }

        function toggleFollow() {
            
            if(is_following){
                followButton.textContent = 'フォロー解除';
            }else{
                followButton.textContent = 'フォロー';
            }
        
            // サーバーにPOSTリクエストを送信
            fetch('/{{user_id}}/{{reviewer_id}}/userpage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ is_following }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('成功:', data);
                is_following=data.isFollowing
                // フォロー状態に応じて表示を変更
                if (is_following) {  
                    followButton.textContent = 'フォロー解除';
                } else {
                    followButton.textContent = 'フォロー';
                }
            })
            .catch((error) => {
                console.error('エラー:', error);
                // エラー処理が必要な場合はここに記述
            });
        }
        </script> 
{% endblock %} 