{% extends "base.html" %} {% block extra_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
{% endblock %} {% block content%}



<section class="contents">
    <div>
        <h1>ユーザーページ</h1>
        <h2>ユーザーネーム: {{ username }}</h2>
        <!-- {% for doc in query %}
        <p>{{doc.to_dict()["mangaTitle"]}}</p>
        {% endfor %} -->

    </div>
    <main>
        <div class="left">
            <h3>アンケート結果</h2>
            <div class="result">
                {% for q,ans in combined_list %}
                <p>{{ q }}: {{ ans }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="right">
            <h3>好きな作品</h2>
            {% for title in favorite_titles %}
                <div class="title">{{ title }}</div>
            {% endfor %}
            <h2><a href="/{{user_id}}/favoriteAdd">好きな作品を追加する</a></h2>
        </div>

    </main>
</section>



{% endblock %}

    